.Toolbar {
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c15711;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

@media(max-width:499px) {
    .ToolbarNav {
        display: none;
    }
}

.Logo {
    margin: 0;
    padding: 0;
    height: 80%;
}