.ButtonContainer button {
    display: inline-block;
    margin: .25rem .25rem;
    width: 3rem;
    padding: .25rem;
    background-color: white;
    border: lightgrey 2px solid;
}

.ButtonContainer button:hover {
    background-color: lightgrey;
}

.MetricContainer p {
    display: inline-block;
}