.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    height: 100%;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 1em;
}

.Reveal {
    background-color: white;
    border: lightgrey 2px solid;
    font-size: 1.5em;
    color: grey;
}

.Reveal:hover {
    background-color: lightgrey;
}

.CloseX {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    border: 0;
    font-size: 1.5em;
    color: grey;
}

@media(min-width:500px) {
    .Reveal {
        display: none;
    }
}