.ingredientController {
    display: flex;
    align-content: center;
    max-width: 18rem;
    margin: auto;
}

.ingredientLabel {
    min-width: 6rem;
    text-align: center;
}

.buttonStyle {
    padding: .25rem;
    margin: auto;
    background-color: white;
    border: lightgrey 2px solid;
    font-size: 1em;
}

.buttonStyle:hover {
    background-color: lightgrey;
}