.burgerContainer {
    margin: 16px 0;
    overflow: auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger {
    width: 400px;
    margin: auto;
    max-height: 100%;
}

@media screen and (max-width: 400px) {
    .burger {
        width: 250px;
    }
}