.Checkout {
    text-align: center;
    padding: 2em;
}

.CheckoutForm {
    display: flex;
    flex-direction: column;
    padding: .25em;
}

.ButtonContainer button {
    display: inline-block;
    margin: .25rem .25rem;
    width: 3rem;
    padding: .25rem;
    background-color: white;
    border: lightgrey 2px solid;
}

.ButtonContainer button:hover {
    background-color: lightgrey;
}