.buildControls {
    align-content: center;
    width: 100%;
    display: block;
    background-color: #ea8641;
    padding: .25rem 0;
}

.buildControls button:hover {
    background-color: lightgrey;
}

.orderButton {
    display: flex;
    margin: .25rem auto;
    padding: .25rem;
    background-color: white;
    border: lightgrey 2px solid;
}

.burgerStats {
    display: flex;
    justify-content: space-around;
    background-color: #c15711;
}