.FormRow {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    padding: .25em;
}

.FormRow label{
    padding: .25em;
    width: 8em;
    flex-grow: 0;
    text-transform: capitalize;
}

.FormRow input{
    padding: .5em;
    max-width: 27em;
    flex-grow: 1;
    outline: none;
    background-color: white;
    border: lightgrey 2px solid;
}
